.overview-container {
  padding: 20px;
  text-align: center;
}

.overview-header {
  font-size: 24px;
  font-weight: bold;
}

.overview-content {
  display: flex;
  flex-wrap: wrap;
}

.overview-message {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a1a1a1;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .overview-header {
    font-size: 20px;
  }

  .overview-message {
    font-size: 16px;
  }

  /* .overview-content{
    justify-content: center;
  } */
}
